{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_mailing.execution.header.edit'|trans({'%name%': execution})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(campaign, 'show', {'label': 'ekyna_core.button.back'}) }}
{{ admin_resource_btn(execution, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_mailing_execution_admin_edit', {'campaignId': campaign.id, 'executionId': execution.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaMailingBundle:Admin/Execution:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{% stylesheets output='css/characteristics.css' filter='cssrewrite, ?yui_css' debug=false
'@EkynaCharacteristicsBundle/Resources/public/css/characteristics.css'
%}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{%- endstylesheets %}
{% endblock stylesheets %}